@import url('https://fonts.googleapis.com/css?family=Glegoo:400,700');

html, body, #root, .app-area {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Glegoo', serif;
}
textarea, input, button { outline: none; }
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
.empty-posts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #eee;
}
.tabs {
    .tabs__labels {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            right: 0;
            bottom: 0;
            background-color: coral;
        }
        li{
          box-sizing: border-box;
          display: inline-block;
          background-color: #ffbfa8;
          padding-left: 10px;
          padding-right: 10px;
          position: relative;
          z-index: 10;
          &:nth-child(1){
              border-left: 1px solid coral;
              border-top: 1px solid coral;
          }
          &:nth-child(2){
              border-top: 1px solid coral;
              border-right: 1px solid coral;
          }
          &.active {
             background-color: #ffe0d5;
             border-bottom: 1px solid #ffe0d5;
          }
          a{
              text-decoration: none;
              color: #000;
          }
        }
    }
    .tabs__content{
        border: 1px solid coral;
        border-top: transparent; 
        padding: 20px;
        background-color: #ffe0d5;
        textarea {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            resize: none;
            border: none;
            border-top: none;
            min-height: 83px;
            font-family: 'Glegoo', serif;
            color: coral;
            font-size: 13px;
            border: 1px solid coral;
            line-height: 16px;
            padding: 5px;
        }
        .content-empty,
        .content{
           box-sizing: border-box;
           min-height: 89px;
           padding: 20px;
           background-color: #ffe0d5;
           > * {
               padding: 0;
               margin: 0;
           }
        }

        .content-empty{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffeee7;
            font-weight: 800;
            font-size: 30px;
        }
    }
}



.app-area {
    display: grid;
    grid-template-columns: 15vw auto 200px 15vw;
    grid-template-rows:    5vw 30px auto 80px auto 5vw;

    grid-template-areas: 
            ". header  header  ."
            ". find    profile ."
            ". field   profile ."
            ". field   tags    ."
            ". main    tags    ."
            ". footer  footer  .";
    grid-column-gap: 10px;
    grid-row-gap:    10px;
    
    > div {
        // background-color: coral;
    }        
}

.text-area {
    button{
        width: 130px;
        height: 28px;
        margin-top: 5px;
        background-color: #fff;
        border: 1px solid coral;
        font-size: 20px;
        line-height: 24px;
        font-family: 'Glegoo', serif;
        color: coral;
        &:disabled {
            opacity: .2;
        }
    }
}
.find-area {
    grid-area: find;
    > input {
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 1px dotted coral;
        background-color: #ffe0d5;
        font-size: 15px;
        color: coral;
        font-family: 'Glegoo', serif;
    }
}
.footer-area {
    border: 1px dotted coral;
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbfa8;
}   
.header {
    border: 1px dotted coral;
    background-color: #ffbfa8;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    >div {
        height: auto;
    }
}
.profile-area{
    border: 1px dotted coral ;
    grid-area: profile;
    text-align: center;
    background-color: #ffbfa8;
}
.text-area {
    grid-area: field;
    
}
.post-area {
    grid-area: main;
    
    .post{
        border: 1px solid coral;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
        > div:last-child {
            text-align: right;
            font-size: 12px;
            color: #aaa;
            border-top: 1px dotted silver;
            margin-top: 10px;
        }
        .icons{
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 20px;
            > span {
                margin-right: 0px;
                cursor: pointer;
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                text-align: center;
                
                &:after {
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    border-radius: 15px;
                    content: '';
                    border: 1px solid #ffbfa8;
                    right: 2px;
                    top: 6px;
                }
            }
        }
    }
}
.tags-area{
    background-color: #ffbfa8;
    border: 1px dotted coral;
    grid-area: tags;
    padding: 20px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            &:nth-child(1){
                background-color: #464646;
            }
            background-color: tomato;
            color: #fff; 
            margin-bottom: 20px;
            cursor: pointer;
            text-align: center;
            padding: 10px;
            border-radius: 30px;
        }
    }
}
.comment {
    float: right;
    line-height: 40px;
    color:slategrey;
}
.active-edit {
    background-color: coral;
    border: 1px solid slategrey;
}

span.tag {
    display: inline-block;
    padding: 3px 16px 3px 12px;
    text-align: center;
    background-color: steelblue;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.is-new {
    .tag {
        cursor: pointer;
    }
}
.is-edit {
    .tag {
        cursor: no-drop;
    }
}