.active-edit {
    border: 1px solid slategrey;
}

span.tag {
    display: inline-block;
    padding: 3px 16px 3px 12px;
    text-align: center;
    background-color: steelblue;
    border-radius: 20px;
    color: #fff;
}